@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
:root {
  --main-color: #ffcc0d;
  --bg-color-1: #1f1e2d;
  --bg-color-2: #293462;
  --text-color-1: #fff;
  --text-color-2: #eee;
  --transparent: rgba(239, 239, 239, 0.3);
  --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  --transparent-bg: rgba(0, 0, 0, 0.8);
  --bg-image: linear-gradient(
      33deg,
      transparent 0%,
      transparent 8%,
      rgba(9, 9, 9, 0.02) 8%,
      rgba(9, 9, 9, 0.02) 59%,
      transparent 59%,
      transparent 100%
    ),
    linear-gradient(
      234deg,
      transparent 0%,
      transparent 32%,
      rgba(225, 225, 225, 0.02) 32%,
      rgba(225, 225, 225, 0.02) 99%,
      transparent 99%,
      transparent 100%
    ),
    linear-gradient(
      312deg,
      transparent 0%,
      transparent 24%,
      rgba(93, 93, 93, 0.05) 24%,
      rgba(93, 93, 93, 0.05) 58%,
      transparent 58%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(31, 30, 45), rgb(31, 30, 45));
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
}
*::-moz-selection {
  background-color: var(--text-color-1);
  color: var(--main-color);
}
*::selection {
  background-color: var(--text-color-1);
  color: var(--main-color);
}
*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  overflow: hidden;
  transition: 0.1s linear !important;
  background-image: var(--bg-image);
  color: var(--text-color-1);
}
body.light {
  --main-color: #e79d0c;
  --bg-color-1: #fff;
  --bg-color-2: #eee;
  --text-color-1: #293462;
  --text-color-2: #333;
  --transparent: rgba(0, 0, 0, 0.1);
  --box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  --transparent-bg: rgba(255, 255, 255, 0.8);
  --bg-image: linear-gradient(
      33deg,
      transparent 0%,
      transparent 8%,
      rgba(9, 9, 9, 0.02) 8%,
      rgba(9, 9, 9, 0.02) 59%,
      transparent 59%,
      transparent 100%
    ),
    linear-gradient(
      234deg,
      transparent 0%,
      transparent 32%,
      rgba(225, 225, 225, 0.02) 32%,
      rgba(225, 225, 225, 0.02) 99%,
      transparent 99%,
      transparent 100%
    ),
    linear-gradient(
      312deg,
      transparent 0%,
      transparent 24%,
      rgba(93, 93, 93, 0.02) 24%,
      rgba(93, 93, 93, 0.02) 58%,
      transparent 58%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

main {
  width: 95%;
  margin: 0 auto;
  min-height: 80vh;
}

.btn-box {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.9rem 3rem;
  color: #fff;
  font-size: 1.7rem;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 0.7rem;
  color: var(--bg-color-1);
  background: linear-gradient(to left, var(--text-color-1) 50%, var(--main-color) 50%) right;
  background-size: 210%;
  transition: 0.3s ease-out;
}
.btn:hover {
  color: #fff;
  background-position: left;
}

.back2Top {
  position: fixed;
  bottom: -10%;
  right: 1.5%;
  padding: 1.5rem;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
  z-index: 180;
  opacity: 0;
  pointer-events: none;
  border: 0.3rem solid var(--text-color-1);
  background: var(--bg-color-1);
  box-shadow: 0.4rem 0.4rem var(--text-color-1);
  transition: all 0.8s, background 0.1s linear;
  border-radius: 0.8rem;
}
.back2Top.active {
  bottom: 3%;
  opacity: 1;
  pointer-events: auto;
}
.back2Top i {
  color: var(--text-color-1);
}
.back2Top:hover {
  background: var(--main-color);
}

.heading-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--transparent);
  padding: 1.5rem 3rem;
  border: 1px solid hsla(200deg, 100%, 99%, 0.05);
  border-radius: 0.5rem;
  width: 100%;
  margin: 3rem auto;
}
.heading-title h2 {
  font-size: 2.5rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}

.swiper-buttons {
  display: flex;
}
.swiper-buttons .swiper-button-next,
.swiper-buttons .swiper-button-prev {
  position: static !important;
  margin: 0 0 0 1rem !important;
  font-size: 1rem;
}
.swiper-buttons .swiper-button-next::after,
.swiper-buttons .swiper-button-prev::after {
  color: var(--text-color-1);
  font-size: 2.5rem !important;
  font-weight: 700;
}

.sort-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.sort-bar .sort-box {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--transparent);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
}
.sort-bar .sort-box div {
  display: flex;
  align-items: center;
  color: var(--text-color-1);
  margin: 0 1.5rem;
}
.sort-bar .sort-box div h2 {
  font-size: 1.7rem;
  font-weight: 600;
}
.sort-bar .sort-box div select {
  color: #293462;
  margin-left: 0.7rem;
  background: #fff;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  padding: 0.5rem;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.25);
  z-index: 200;
  align-items: center;
  justify-content: center;
  display: none;
}
.overlay.active {
  display: flex;
}

.spinner {
  width: 88px;
  height: 88px;
  display: grid;
  border: 7px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  border-right-color: #ffcc0d;
  -webkit-animation: spinner-a4dj62 0.8s infinite linear;
          animation: spinner-a4dj62 0.8s infinite linear;
}
.spinner::before, .spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 3.5px;
  border: inherit;
  border-radius: 50%;
  -webkit-animation: spinner-a4dj62 1.6s infinite;
          animation: spinner-a4dj62 1.6s infinite;
}
.spinner::after {
  margin: 14px;
  -webkit-animation-duration: 2.4s;
          animation-duration: 2.4s;
}

@-webkit-keyframes spinner-a4dj62 {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes spinner-a4dj62 {
  100% {
    transform: rotate(1turn);
  }
}
.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0.5rem 0 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.tags span {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 0.3rem;
  background: var(--main-color);
  color: #293462;
}
.tags.green span {
  color: #fff;
  background: #37af48;
}
.tags.red span {
  color: #fff;
  background: #f32424;
}

.movie-box {
  position: relative;
  width: 100%;
  height: 45rem;
  border-radius: 1rem;
  box-shadow: 0.2rem solid var(--text-color-1);
  overflow: hidden;
  margin-bottom: 1.5rem;
}
.movie-box:hover .image {
  transform: scale(1.1);
}
.movie-box:hover .content {
  bottom: -30%;
}
.movie-box:hover .overlay {
  opacity: 1;
}
.movie-box .image {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.1s linear 0.2s;
}
.movie-box .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.movie-box .overlay,
.movie-box .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.movie-box .overlay .movie,
.movie-box .content .movie {
  width: 100%;
  color: #fff;
  padding: 1rem 1rem 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.movie-box .overlay .movie .title,
.movie-box .content .movie .title {
  font-size: 1.8rem;
}
.movie-box .overlay .movie .rating,
.movie-box .content .movie .rating {
  font-size: 2rem;
}
.movie-box .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(8deg, hsla(240deg, 17%, 14%, 0.74) 14%, hsla(240deg, 17%, 14%, 0.44) 44%);
  opacity: 0;
  transition: opacity 0.1s linear 0.2s;
  z-index: 50;
}
.movie-box .overlay .movie {
  position: absolute;
  top: 0%;
  margin-top: 1rem;
}
.movie-box .overlay .watch-btn {
  transform: scale(1.5);
}
.movie-box .content {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  transition: all 0.2s linear;
}
.movie-box .content .movie {
  background: linear-gradient(8deg, hsla(240deg, 17%, 14%, 0.74) 14%, hsla(240deg, 17%, 14%, 0.44) 44%);
}
.movie-box .content .movie .title {
  font-size: 1.8rem;
}
.movie-box .content .movie .type {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 1rem 0;
}

.watch-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s linear;
}
.watch-btn i {
  color: #fff;
  background: #293462;
  font-size: 3rem;
  padding: 1rem;
  border-radius: 50%;
  text-align: center;
  -webkit-animation: playHover 2s linear infinite;
          animation: playHover 2s linear infinite;
  cursor: pointer;
}
.watch-btn:hover i {
  background: var(--main-color);
}
.watch-btn span {
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #fff;
  text-transform: capitalize;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.movie-grids {
  position: relative;
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.movie-detail {
  margin-top: 3rem !important;
  width: 100%;
  margin: 0 auto;
}
.movie-detail .play-container {
  position: relative;
  min-height: 60rem;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  margin: 3rem 0;
}
.movie-detail .play-container .play-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.movie-detail .play-container .play-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 1rem;
}
.movie-detail .play-container .play-text {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 6rem;
  background: linear-gradient(8deg, hsla(240deg, 17%, 14%, 0.74) 14%, hsla(240deg, 17%, 14%, 0.44) 44%);
}
.movie-detail .play-container .play-text h2 {
  font-size: 4rem;
  font-weight: 600%;
}
.movie-detail .play-container .play-text .tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 1rem 0 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.movie-detail .play-container .play-text .tags span {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.3rem;
  background: var(--main-color);
  color: #293462;
}
.movie-detail .play-container .play-text .watch-btn {
  justify-content: flex-start;
}
.movie-detail .play-container .play-video {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.25);
  z-index: 140;
  display: none;
}
.movie-detail .play-container .play-video.active {
  display: flex;
}
.movie-detail .play-container .play-video .video-box {
  position: relative;
  width: 82%;
}
.movie-detail .play-container .play-video .video-box video {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}
.movie-detail .play-container .play-video .video-box .close {
  position: absolute;
  top: 0.5rem;
  right: 0;
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}
.movie-detail .play-container .play-video .video-box .close:hover {
  color: var(--main-color);
}
.movie-detail .play-container .movie-save {
  font-size: 5rem;
  color: #fff;
  position: absolute;
  top: 2%;
  right: 0.5%;
  cursor: pointer;
}
.movie-detail .play-container .movie-save:hover {
  color: var(--main-color);
}
.movie-detail .btn-box {
  margin-bottom: 3rem;
}
.movie-detail .btn-box .btn {
  transform: scale(1.2);
}
.movie-detail .about-movie h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--main-color);
  letter-spacing: 0.1rem;
}
.movie-detail .about-movie p {
  max-width: 55%;
  font-size: 1.7rem;
  line-height: 2rem;
  margin: 1rem 0 3rem;
  text-transform: none;
  letter-spacing: 0.05rem;
  text-align: justify;
  text-justify: inter-word;
}
.movie-detail .about-movie .cast-heading,
.movie-detail .about-movie .info-heading {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
  color: var(--main-color);
}
.movie-detail .about-movie .info {
  margin-bottom: 3rem;
}
.movie-detail .about-movie .info div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.7rem;
}
.movie-detail .about-movie .info div h3 {
  font-size: 1.7rem;
  margin-right: 0.8rem;
}
.movie-detail .about-movie .info div span {
  font-size: 1.5rem;
}
.movie-detail .about-movie .info div .tags span {
  margin-bottom: 0;
}
.movie-detail .about-movie .cast {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  margin: 0 0 3rem;
}
.movie-detail .about-movie .cast .cast-box .image {
  position: relative;
  width: 100%;
  height: 28rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 0.7rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.movie-detail .about-movie .cast .cast-box .image img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.movie-detail .about-movie .cast .cast-box .name {
  font-size: 1.7rem;
  font-weight: 700;
  color: var(--text-color-1);
}

@-webkit-keyframes playHover {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 180, 58, 0.7);
  }
  40% {
    box-shadow: 0 0 0 4rem rgba(255, 193, 7, 0);
  }
  80% {
    box-shadow: 0 0 0 4rem rgba(255, 193, 7, 0);
  }
  100% {
    box-shadow: 0 0 0 rgba(255, 193, 7, 0);
  }
}

@keyframes playHover {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 180, 58, 0.7);
  }
  40% {
    box-shadow: 0 0 0 4rem rgba(255, 193, 7, 0);
  }
  80% {
    box-shadow: 0 0 0 4rem rgba(255, 193, 7, 0);
  }
  100% {
    box-shadow: 0 0 0 rgba(255, 193, 7, 0);
  }
}
.sidebar {
  position: fixed;
  top: 0;
  left: -10rem;
  background-color: var(--bg-color-2);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  width: 10rem;
  height: 100vh;
  padding: 3rem 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column;
  transition: 0.2s linear;
  z-index: 180;
}
.sidebar::-webkit-scrollbar {
  width: 0rem;
}
.sidebar.active {
  left: 0rem;
}
.sidebar .menu-btn {
  position: relative;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  background: var(--bg-color-2);
}
.sidebar .menu-btn:hover .hamburger {
  background: var(--main-color);
}
.sidebar .menu-btn:hover .hamburger::before, .sidebar .menu-btn:hover .hamburger::after {
  background: var(--main-color);
}
.sidebar .menu-btn.active .hamburger {
  background: rgba(0, 0, 0, 0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
}
.sidebar .menu-btn.active .hamburger::after {
  top: 0;
  transform: translate(-50%, -50%) rotate(135deg);
}
.sidebar .menu-btn.active .hamburger::before {
  top: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}
.sidebar .menu-btn .hamburger {
  position: absolute;
  width: 2.5rem;
  height: 0.4rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--text-color-1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.sidebar .menu-btn .hamburger::before, .sidebar .menu-btn .hamburger::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 0.4rem;
  background: var(--text-color-1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  transition: 0.5s;
}
.sidebar .menu-btn .hamburger::before {
  top: -0.7rem;
}
.sidebar .menu-btn .hamburger::after {
  top: 1.1rem;
}
.sidebar .logo {
  position: relative;
  display: inline-block;
  padding: 15px;
  border: 4px solid var(--text-color-1);
  color: var(--text-color-1);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  font-size: 4.5rem;
  transition: 0.2s;
  transition-delay: 0.8s;
}
.sidebar .logo:hover {
  border-color: var(--main-color);
}
.sidebar .logo:hover span {
  color: var(--main-color);
}
.sidebar .logo:hover::before {
  transform: scaleY(0);
}
.sidebar .logo:hover::after {
  transform: scaleX(0);
}
.sidebar .logo::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -6px;
  width: calc(100% + 14px);
  height: calc(100% - 16px);
  background: red;
  background: var(--bg-color-1);
  transition: 0.4s ease-in-out;
  transform: scaleY(1);
}
.sidebar .logo::after {
  content: "";
  position: absolute;
  left: 8px;
  top: -6px;
  height: calc(100% + 14px);
  width: calc(100% - 16px);
  background: var(--bg-color-1);
  transition: 0.4s ease-in-out;
  transition-delay: 0.4s;
  transform: scaleX(1);
}
.sidebar .logo span {
  position: relative;
  z-index: 3;
  transition: 0.2s;
  transition-delay: 0.8s;
}
.sidebar .custom-theme {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}
.sidebar .custom-theme .palette,
.sidebar .custom-theme .background {
  width: 5rem;
  height: 5rem;
  background: var(--text-color-1);
  border-radius: 50%;
  cursor: pointer;
  z-index: 120;
}
.sidebar .custom-theme .palette:hover, .sidebar .custom-theme .palette.active,
.sidebar .custom-theme .background:hover,
.sidebar .custom-theme .background.active {
  background: var(--main-color);
}
.sidebar .custom-theme .palette i,
.sidebar .custom-theme .background i {
  color: var(--bg-color-1);
  font-size: 2.5rem;
  line-height: 5rem;
  text-align: center;
}
.sidebar .custom-theme .colors {
  position: absolute;
  top: 0;
  padding: 1rem 0;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  border: 0.3rem solid var(--text-color-1);
  border-style: dashed;
  transition: 0.2s linear;
  background: var(--bg-color-1);
  z-index: 110;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}
.sidebar .custom-theme .colors::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  top: -1.3rem;
  right: 0;
  background: var(--text-color-1);
  -webkit-clip-path: polygon(50% 0%, 0 60%, 100% 60%);
          clip-path: polygon(50% 0%, 0 60%, 100% 60%);
  transform: translateX(-140%);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.sidebar .custom-theme .colors.active {
  opacity: 1;
  pointer-events: auto;
  top: 6.5rem;
}
.sidebar .custom-theme .colors .color {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.sidebar .side-menu {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
}
.sidebar .side-menu li {
  width: 100%;
  list-style: none;
}
.sidebar .side-menu li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2.5rem;
  color: var(--text-color-1);
}
.sidebar .side-menu li a .icon {
  font-size: 4rem;
}
.sidebar .side-menu li a .name {
  margin-top: -0.4rem;
  font-size: 1.5rem;
  text-align: center;
}
.sidebar .side-menu li a.active {
  color: var(--main-color);
}
.sidebar .side-menu li a:hover {
  transform: scale(1.1);
}
.sidebar .setting {
  position: relative;
  border-top: 0.3rem solid var(--text-color-1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  padding-top: 2rem;
}
.sidebar .setting li {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2.5rem;
  color: var(--text-color-1);
  cursor: pointer;
}
.sidebar .setting li .icon {
  font-size: 3rem;
}
.sidebar .setting li .name {
  margin-top: -0.4rem;
  font-size: 1.5rem;
  text-align: center;
}
.sidebar .setting .theme:hover {
  transform: scale(1.1);
}
.sidebar .setting .theme .light {
  color: #ffcc0d;
}
.sidebar .setting .theme .dark {
  color: #293462;
}
.sidebar .setting .language:hover .name {
  font-weight: normal;
}
.sidebar .setting .language:hover .dropdown {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  opacity: 1;
}
.sidebar .setting .language .name {
  margin-top: 0.5rem;
  padding: 0.2rem 0.8rem;
  border-radius: 1rem;
  background: var(--transparent);
  color: var(--text-color-1);
  font-weight: bold;
}
.sidebar .setting .language .dropdown {
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 1rem;
  border: 0.1rem solid white;
  background: var(--transparent);
  transition: all 0.2s linear;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  opacity: 0;
}
.sidebar .setting .language .dropdown li {
  width: 6rem;
  height: 2rem;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.sidebar .setting .language .dropdown li:hover {
  font-weight: bold;
  color: var(--main-color);
}

.navbar {
  position: relative;
  height: 10vh;
  min-width: 100vw;
  background: var(--bg-color-1);
  color: var(--text-color-1);
  display: flex;
  justify-content: space-between;
  z-index: 80;
  box-shadow: 1px 0px 23px -4px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 1px 0px 23px -4px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 1px 0px 23px -4px rgba(0, 0, 0, 0.52);
}
.navbar .nav-left,
.navbar .nav-right {
  display: flex;
  align-items: center;
}
.navbar .nav-left #search-btn,
.navbar .nav-right #search-btn {
  display: none;
  font-size: 3.5rem;
  line-height: 3.5rem;
  color: var(--text-color-1);
  cursor: pointer;
  margin: 0px 1rem;
}
.navbar .bars-icon {
  font-size: 2.5rem;
  margin: 0 2rem;
  opacity: 1;
  cursor: pointer;
  transition: 0.2s linear;
}
.navbar .bars-icon.active {
  margin: 0 4.5rem;
  opacity: 0;
}
.navbar .bars-icon:hover {
  color: var(--main-color);
}
.navbar .logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
}
.navbar .logo i {
  color: var(--main-color);
  font-size: 5rem;
}
.navbar .logo h2 {
  color: var(--text-color-1);
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 600;
}
.navbar .searc-box {
  max-width: 40rem;
  display: flex;
  align-items: center;
  -moz-column-gap: 0.7rem;
       column-gap: 0.7rem;
  padding: 0.8rem 2rem;
  border: 2px solid var(--text-color-1);
  background: var(--transparent);
  border-radius: 4rem;
  margin: 0 2rem;
  margin-right: 0rem;
}
.navbar .searc-box input {
  width: 30rem;
  background: transparent;
  color: var(--text-color-1);
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: none;
}
.navbar .searc-box i {
  font-size: 2.5rem;
  cursor: pointer;
}
.navbar .searc-box i:hover {
  color: var(--main-color);
}
.navbar .search-form {
  position: absolute;
  top: 130%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
  width: 85%;
  margin: 0 auto;
  z-index: 200;
  color: #293462;
  opacity: 0;
  pointer-events: none;
}
.navbar .search-form .searc-box {
  display: flex;
  margin: 0 auto;
  width: 100%;
  border-radius: 1rem;
  border: 0.3rem solid var(--main-color);
  background: #fff;
}
.navbar .search-form .searc-box input {
  color: #293462;
}
.navbar .search-form.active {
  opacity: 1;
  pointer-events: auto;
}
.navbar .user-image {
  position: relative;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background: var(--text-color-1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3rem;
  border: 0.3rem solid var(--text-color-1);
  cursor: pointer;
}
.navbar .user-image:hover {
  border-color: var(--main-color);
}
.navbar .user-image img {
  position: relative;
  border-radius: 50%;
  width: 102%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.navbar .btn {
  margin: 0;
  margin-left: 1rem;
  margin-right: 3rem;
}

.auth {
  width: 40rem;
  padding: 3rem 2rem;
  border-radius: 1rem;
  margin: 15vh auto 0;
  background: var(--transparent);
}
.auth h2 {
  color: var(--text-color-1);
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-align: center;
}
.auth .input-box {
  position: relative;
  width: 100%;
  margin-top: 2rem;
}
.auth .input-box input,
.auth .input-box textarea {
  width: 100%;
  padding: 5px 0;
  margin: 1rem 0;
  font-size: 2rem;
  border-bottom: 2px solid var(--text-color-1);
  outline: none;
  resize: none;
  text-transform: none;
  transition: all 0.2s linear;
  background: none;
  color: var(--text-color-1);
}
.auth .input-box input:focus ~ label, .auth .input-box input:valid ~ label,
.auth .input-box textarea:focus ~ label,
.auth .input-box textarea:valid ~ label {
  color: var(--main-color);
  font-size: 1.4rem;
  transform: translateY(-20px);
}
.auth .input-box label {
  position: absolute;
  left: 0;
  padding: 5px 0;
  margin: 10px 0;
  font-size: 16px;
  pointer-events: none;
  color: var(--text-color-1);
  transition: transform 0.2s linear;
}
.auth .btn-box {
  margin-top: 2rem;
}
.auth .switch-auth {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  margin: 2rem auto 0;
}
.auth .switch-auth span {
  color: var(--main-color);
  cursor: pointer;
}
.auth .switch-auth span:hover {
  text-decoration: underline;
}

.user-movies {
  width: 70%;
  margin: 3rem auto;
}
.user-movies .movie-card {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background: var(--transparent);
  border-radius: 1rem;
  overflow: hidden;
  width: 60rem;
  margin: 0rem auto 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.user-movies .movie-card .delete-movie {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 5rem;
  cursor: pointer;
}
.user-movies .movie-card .delete-movie:hover {
  color: #f32424;
}
.user-movies .movie-card .image {
  position: relative;
  width: 40%;
  height: 30rem;
  transition: transform 0.1s linear 0.2s;
}
.user-movies .movie-card .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-movies .movie-card .content {
  width: 60%;
  padding: 2rem 1rem 0;
}
.user-movies .movie-card .content .title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.user-movies .movie-card .content .rating {
  font-size: 2rem;
}

.home {
  position: relative;
  margin: 3rem 0 5rem;
}
.home .home-banner {
  position: relative;
  width: 100%;
  height: 50rem;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.home .home-banner .home-img {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .home-banner .home-img img {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.home .home-banner .home-content {
  position: absolute;
  top: 0;
  left: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 7rem;
}
.home .home-banner .home-content .title {
  color: #fff;
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  max-width: 30rem;
}
.home .home-banner .home-content p {
  margin: 2.5rem 0;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--main-color);
}

.trending {
  position: relative;
  margin-bottom: 5rem;
}
.trending .trending-swiper {
  position: relative;
  width: 95%;
}
.explore {
  margin-bottom: 5rem;
}

/*=========================*/
/* Footer */
/*=========================*/
.footer {
  position: relative;
  height: 10vh;
  min-width: 100vw;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-shadow: 1px 0px 23px -4px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 1px 0px 23px -4px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 1px 0px 23px -4px rgba(0, 0, 0, 0.52);
}
.footer .credit {
  color: var(--text-color-1);
  text-align: center;
  font-size: 1.7rem;
  letter-spacing: 0.05rem;
  z-index: 70;
}
.footer .credit span {
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-color);
}

/*=========================*/
/*Media Queries*/
/*=========================*/
@media (max-width: 830px) {
  .home .home-banner .home-content {
    justify-content: flex-end;
    padding: 2rem 1.5rem;
  }
  .home .home-banner .home-content .title {
    font-size: 3.5rem;
    width: 100%;
  }
  .home .home-banner .home-content p {
    margin: 1rem 0;
    font-size: 1.8rem;
  }
  .home .home-banner .home-content .watch-btn i {
    font-size: 2rem;
  }
  .home .home-banner .home-content .watch-btn span {
    font-size: 1.5rem;
  }

  .navbar .searc-box {
    display: none;
  }
  .navbar .nav-right #search-btn {
    display: inline-block;
  }

  main {
    width: 90%;
  }

  .movie-detail .play-container .play-text {
    padding: 1.5rem 1rem;
  }
  .movie-detail .play-container .play-text h2 {
    font-size: 2.5rem;
  }
  .movie-detail .play-container .play-text .tags {
    margin: 1rem 0;
  }
  .movie-detail .play-container .play-text .tags span {
    font-size: 1.3rem;
  }
  .movie-detail .play-container .play-text .watch-btn i {
    font-size: 2rem;
  }
  .movie-detail .play-container .play-text .watch-btn span {
    font-size: 1.5rem;
  }
  .movie-detail .play-container .play-video {
    width: 100%;
  }
  .movie-detail .play-container .play-video .video-box .close {
    top: 0.2rem;
    font-size: 2.5rem;
  }
  .movie-detail .about-movie p {
    max-width: 100%;
  }
  .movie-detail .about-movie .info .tags span {
    font-size: 1.3rem;
  }

  .user-movies {
    width: 100%;
  }
  .user-movies .movie-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 2.5rem;
  }
  .user-movies .movie-card .image {
    position: relative;
    width: 100%;
    height: 30rem;
  }
  .user-movies .movie-card .content {
    width: 100%;
    padding: 1.5rem;
  }
}
@media (max-width: 560px) {
  .back2Top {
    transform: scale(0.9);
    right: 2%;
  }

  .sort-bar .sort-box {
    flex-direction: column;
    padding: 0;
  }
  .sort-bar .sort-box div {
    margin: 1.5rem 0;
  }

  .heading-title {
    padding: 1.5rem 1rem;
  }
  .heading-title h2 {
    font-size: 2rem;
  }

  .footer .credit {
    font-size: 1.4rem;
  }
  .footer .credit span {
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=style.css.map */